page-home {

agm-map {
	  height: 100% !important;
}


.mapa{
 	position: relative;
}


.datos4{
	text-align: center;
 	position: absolute; 
 	color: #1F365B;
 	display: inline-block;
 	padding-left: 20%;
}





}
