<ion-menu [content]="NAV">

	<ion-header>
		<div>
			<img height="145" width="100%">
			<div style="position: absolute; top: 0; padding-top: 20px; padding-left: 15px;">
				<img src="assets/recursos/usuario-logo.png" width="60" height="60" class="sideMenuAvatar" (click)="goToPage(pagePerfil)" menuClose>
				<span class="sideMenuWelcome"><b>{{this._up.user.nombre}} </b></span>
				<span class="sideMenuProfile">{{this._up.user.email}}</span>
			</div>
		</div>
	</ion-header>

	<ion-content class="myBg">
		<div class="color">
			<ion-list >
				<button ion-item *ngFor="let pageUs of pagesUsuario" (click)="goToPage(pageUs.Component)" menuClose class="myBg">
					<ion-icon item-left name="{{pageUs.icon}}"></ion-icon>
					{{pageUs.titulo}}
				</button>

				<button ion-item *ngFor="let pageAdm of pagesAdmin" (click)="goToPage(pageAdm.Component)" menuClose class="myBg">
					<ion-icon item-left name="{{pageAdm.icon}}"></ion-icon>
					{{pageAdm.titulo}}
				</button>

				<button ion-item menuClose
	  				(click)="salir()" class="myBg">
	  				<ion-icon item-left name="log-out"></ion-icon>
				CERRAR SESIÓN
	  			</button>
			</ion-list>	
		</div>	
	</ion-content>
</ion-menu>

<ion-nav #NAV [root]="rootPage"></ion-nav>
